
<div class="page-body">
    
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>به پنل ادمین خوش امدید مهندس :)</h3>
                        @*  <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">صفحه نمونه</li>
                        </ol> *@
                    </div>
                </div>
                <!-- Bookmark Start-->
                <div class="col">
                    <div class="bookmark pull-right">
                        <ul>
                            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="تقویم"><i data-feather="calendar"></i></a></li>
                            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="ایمیل"><i data-feather="mail"></i></a></li>
                            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="چت"><i data-feather="message-square"></i></a></li>
                            <li>
                                <a href="#"><i class="bookmark-search" data-feather="star"></i></a>
                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="جستجو..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Bookmark Ends-->
            </div>
        </div>
    </div>
</div>
    @* <!-- Container-fluid starts-->
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-header">
    <h5>کارت نمونه</h5><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span>
    </div>
    <div class="card-body">
    <p>"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد."</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Container-fluid Ends-->
    </div>
    <!-- footer start-->
    <footer class="footer">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-6 footer-copyright">
    <p class="mb-0">کپی رایت 2018 © اندلس همه حقوق محفوظ است.</p>
    </div>
    <div class="col-md-6">
    <p class="pull-right mb-0">دست ساز و ساخته شده با<i class="fa fa-heart"></i></p>
    </div>
    </div>
    </div>
    </footer> *@


    @{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

    @section myscript
    {
    }
