
@{
    Layout = "_Layout";
}

@section myStyle {

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Items</title>
    <link rel="stylesheet" href="~/css/modalcss/StyleSheet.css">
    
    <script src="~/css/modalcss/JavaScript.js"></script>
    <script src="~/css/modalcss/JavaScript1.js"></script>

    
}



<input type="hidden" value="@ViewBag.UserProfileId" id="hd_userprofileid" />


<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>Category Page</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> home</li>
                            <li class="breadcrumb-item active"> Category Page</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container my-5">
        <h2 class="text-center mb-4">مدیریت کتگوری‌ها</h2>
        <button class="btn btn-success mb-3"  data-bs-toggle="modal" onclick="openAddCategoryModal()">➕ افزودن کتگوری</button>

        <ul class="list-group" id="categoryTree">

            <!-- درخت کتگوری اینجا ساخته میشه -->

        </ul>
    </div>

</div>


<!-- 🔹 Add Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">افزودن کتگوری</h5></div>
            <div class="modal-body">
                <input type="text" id="addCategoryName" class="form-control" placeholder="نام کتگوری">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button class="btn btn-primary" id="addCategoryBtn">افزودن</button>
            </div>
        </div>
    </div>
</div>

<!-- 🔹 Edit Modal -->
<div class="modal fade" id="editCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">ویرایش کتگوری</h5></div>
            <div class="modal-body">
                <input type="text" id="editCategoryName" class="form-control">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button class="btn btn-primary" id="editCategoryBtn">ذخیره تغییرات</button>
            </div>
        </div>
    </div>
</div>

<!-- 🔹 Delete Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">حذف کتگوری</h5></div>
            <div class="modal-body">آیا مطمئن هستید که می‌خواهید این کتگوری را حذف کنید؟</div>
            <div class="modal-footer">
                <button class="btn btn-secondary"  data-dismiss="modal">لغو</button>
                <button class="btn btn-danger" id="deleteCategoryBtn">حذف</button>
            </div>
        </div>
    </div>
</div>

<!-- 🔹 Add Child Modal -->
<div class="modal fade" id="addChildModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">افزودن کتگوری فرزند</h5></div>
            <div class="modal-body">
                <input type="text" id="childCategoryName" class="form-control" placeholder="نام فرزند">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button class="btn btn-warning" id="addChildBtn">افزودن فرزند</button>
            </div>
        </div>
    </div>
</div>








@section myscript {

    <script>
        let addModal;

        document.addEventListener("DOMContentLoaded", function () {
            const modalEl = document.getElementById('addCategoryModal');
            addModal = new bootstrap.Modal(modalEl);
        });

        function openAddCategoryModal() {
            addModal.show();
        }

        function closeAddCategoryModal() {
            addModal.hide();
        }
    </script>




    <script src="~/js/AdminPageQuery/Category.js"></script>


   

    
}